* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #89cff0;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.box {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 20px;
    margin: 50px;
    padding: 50px;
    border-radius: 50px;
    box-shadow:  41px 41px 82px #74b0cc, 
                 -41px -41px 82px #9eeeff;
}

.flex {
    display: flex;
}

.answers {
    margin-left: 100px;
}

.alert {
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.9);
}

#errorMsg {
    color: red;
}

p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

h2 {
    font-weight: 900;
}

#carryUp {
    display: hidden;
}